
#nav-megamenu-logo-social .bg {
	background-image: url('../images/club-logo-1.png');
}
#nav-megamenu-logo-social--0 .bg {
	opacity: 1;
	background-position: ;}#header-text .bg {
    background-image: url('../images/bg-46.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    opacity:0.25;
}